/*HEADER FONT*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Outfit', sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&display=swap');
    }

    @font-face {
        font-family: 'Pathway Gothic One', sans-serif;
        src: url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
    }

    @font-face {
        font-family: 'Signika Negative SC', sans-serif;
        src: url('./font/signika-negative-sc-cufonfonts/SignikaNegativeSC-Bold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }
      

}

